WFACliente_asmx/Service References/ServiceGestoresWCF/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6576/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb.ServicioWFC2.Models" />
  <xs:element name="GetGestor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGestorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWeb.ServicioWFC2.Models" minOccurs="0" name="GetGestorResult" nillable="true" type="q1:Gestores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGestores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGestoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosWeb.ServicioWFC2.Models" minOccurs="0" name="GetGestoresResult" nillable="true" type="q2:ArrayOfGestores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>