WFACliente_asmx/Service References/ServiceGestoresASMX/GestoresService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllGestores">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGestoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGestoresResult" type="tns:ArrayOfGestores_Bd" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGestores_Bd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="gestores_Bd" nillable="true" type="tns:gestores_Bd" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="gestores_Bd">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lanzamiento" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="desarrollador" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGestor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGestorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGestorResult" type="tns:gestores_Bd" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllGestoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGestores" />
  </wsdl:message>
  <wsdl:message name="GetAllGestoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGestoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetGestorSoapIn">
    <wsdl:part name="parameters" element="tns:GetGestor" />
  </wsdl:message>
  <wsdl:message name="GetGestorSoapOut">
    <wsdl:part name="parameters" element="tns:GetGestorResponse" />
  </wsdl:message>
  <wsdl:portType name="GestoresServiceSoap">
    <wsdl:operation name="GetAllGestores">
      <wsdl:input message="tns:GetAllGestoresSoapIn" />
      <wsdl:output message="tns:GetAllGestoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGestor">
      <wsdl:input message="tns:GetGestorSoapIn" />
      <wsdl:output message="tns:GetGestorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestoresServiceSoap" type="tns:GestoresServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGestores">
      <soap:operation soapAction="http://tempuri.org/GetAllGestores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGestor">
      <soap:operation soapAction="http://tempuri.org/GetGestor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GestoresServiceSoap12" type="tns:GestoresServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGestores">
      <soap12:operation soapAction="http://tempuri.org/GetAllGestores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGestor">
      <soap12:operation soapAction="http://tempuri.org/GetGestor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestoresService">
    <wsdl:port name="GestoresServiceSoap" binding="tns:GestoresServiceSoap">
      <soap:address location="http://localhost:51959/GestoresService.asmx" />
    </wsdl:port>
    <wsdl:port name="GestoresServiceSoap12" binding="tns:GestoresServiceSoap12">
      <soap12:address location="http://localhost:51959/GestoresService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>